.navul {
  position: fixed;
  border-radius: 3em;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid gray;
}

.navul.transparent {
  background: var(--basecolor);
}

.navli {
  padding: 1em;
  font-size: 1.6em;
  transform: scale(1);
  transition: 0.3s ease;
}

.navli:hover {
  background-color: var(--basecolor);
  border: 1px solid gray;
  transform: scale(1.1);
}
.navli:first-child {
  padding-left: 3em;
  border-top-left-radius: 3em;
  border-bottom-left-radius: 3em;
}

.navli:last-child {
  padding-right: 3em;
  border-top-right-radius: 3em;
  border-bottom-right-radius: 3em;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 4em 4em 0em 6em;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.product {
  width: 320px;
  min-width: 320px;
  aspect-ratio: 0.8;
}

.avatar {
  width: 80px;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.avatar:hover {
  scale: 1.6;
}

.profile {
  display: block;
  width: 100%;
  max-width: 265px;
  min-width: 200px;
  aspect-ratio: 1;
  border-radius: 1.6em;
}
.faq_card {
  border: 1px solid #a3a2a23a;
  border-radius: 2em;
}
.btn_posi {
  position: absolute;
  bottom: 0;
  padding: 2em 1em;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}
.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  /* border-top: 1px solid #a3a2a23a; */
  /* border-top-left-radius: 50%;
  border-top-right-radius: 50%; */
}
.about_img {
  width: 100%;
  max-width: 250px;
  min-width: 250px;
  height: fit-content;
  background-color: #fff;
  transform: rotate(10deg);
  padding: 2em 2em 6em 2em;
  margin-right: 3em;
}
.about_img img {
  width: 100%;
  aspect-ratio: 1;
}
.tr_container {
  border: 1px solid #a3a2a23a;
  border-radius: 2em;
  padding: 2em;
}
tr {
  width: 100%;
  max-width: 400px;
}
.connect_container {
  border: 1px solid #a3a2a23a;
  border-radius: 1.5em;
  padding: 2em;
}
@media screen and (min-width: 0px) and (max-width: 450px) {
  .navli_hide {
    display: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 1100px) {
  .card {
    padding: 2em 1em 0em;
  }
}
